<ion-header>
  <ion-toolbar>
    <ion-title>SELECIONE O PERFIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <!-- Cartões de Opções -->
    <div class="cards-function">
      <!-- Cliente Card -->
      <ion-card class="box" routerLink="/select-company">
        <div class="card-inner">
          <div class="circle-icon">
            <ion-icon name="person-circle"></ion-icon>
          </div>
          <ion-card-header>
            <ion-card-title class="card-title">Usuário</ion-card-title>
          </ion-card-header>
          <ion-card-content class="description-card">
            <h2>BUSCANDO O SERVIÇO</h2>
            <h3>Eu sou um cliente</h3>
          </ion-card-content>
        </div>
      </ion-card>

      <ion-card class="box" routerLink="/professional-registration">
        <div class="card-inner">
          <div class="circle-icon">
            <ion-icon name="briefcase"></ion-icon>
          </div>
          <ion-card-header>
            <ion-card-title class="card-title">Proprietário</ion-card-title>
          </ion-card-header>
          <ion-card-content class="description-card">
            <h2>Estabelecimento</h2>
            <h3>Eu sou um profissional</h3>
          </ion-card-content>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
