<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <div class="go-back">
        <a routerLink="/select-professional">
          <img
            src="assets/images/create-account/icon-go-back.svg"
            alt="Voltar para tela de seleção usuario"
          />
        </a>
      </div>
    </ion-buttons>
    <ion-title>SELEÇÃO DE SERVIÇOS</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <div class="scrollable-content">
      <div *ngFor="let service of services; let i = index">
        <ion-item>
          <ion-select
            label="Serviços"
            placeholder="selecione o próximo"
            (ionChange)="onServiceChange(i, $event)"
            [disabled]="service.value !== null"
          >
            <ion-select-option
              *ngFor="let option of serviceOptions"
              [value]="option.id"
            >
              {{ option.desc }}
            </ion-select-option>
          </ion-select>
          <ion-button
            *ngIf="services.length > 0"
            slot="end"
            color="danger"
            fill="clear"
            (click)="removeService(i)"
            [disabled]="service.value === null"
          >
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </div>

      <ion-item>
        <ion-label position="floating">Observação:</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-input label="VALOR TOTAL:">{{totalPriceString}}</ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="FORMA PAGAMENTO" placeholder="TIPO">
          <ion-select-option value="1">Dinhero</ion-select-option>
          <ion-select-option value="2">Pix</ion-select-option>
          <ion-select-option value="3">Cartão</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input label="TEMPO TOTAL (EST):">{{totalTimeString}}</ion-input>
      </ion-item>
    </div>
    <ion-button expand="full" routerLink="/queue">Entrar na Fila</ion-button>
  </form>

  <ion-footer>
    <ion-toolbar class="menu-fixed-bottom">
      <div class="content-menu-border">
        <div class="go-init">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label><a routerLink="/role-registration">Inicio</a></ion-label>
        </div>
        <div class="go-fila">
          <ion-icon name="people-outline"></ion-icon>
          <ion-label><a href="#">Fila</a></ion-label>
        </div>
        <div class="go-config">
          <ion-icon name="settings-outline"></ion-icon>
          <ion-label><a href="#">Config</a></ion-label>
        </div>
        <div class="go-config">
          <ion-icon name="exit-outline"></ion-icon>
          <ion-label><a href="#">Sair</a></ion-label>
        </div>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
