<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <div class="go-back">
        <a routerLink="/role-registration">
          <img
            src="assets/images/create-account/icon-go-back.svg"
            alt="Voltar para tela de seleção usuario"
          />
        </a>
      </div>
    </ion-buttons>
    <ion-title>FILA DE ESPERA</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-background">
    <ion-img src="assets/images/company-logo/kingssons.jpeg"></ion-img>
  </div>

  <ion-card>
    <ion-card-content>
      <div class="fila-info">
        <h3>Olá, Paulo!</h3>
        <p>Você está na fila, aguarde sua vez.</p>
      </div>

      <div class="posicao-fila">
        <p>Sua posição na fila</p>
        <h1>{{ posicaoNaFila }}º</h1>
        <ion-progress-bar [value]="progressoFila"></ion-progress-bar>
      </div>

      <ion-button expand="block" class="botao-sair-fila">Sair da fila</ion-button>

      <ion-note color="warning">
        <p>
          Fique atento! Para sua comodidade, evite atrasos. Tolerância de 5 minutos após ser chamado.
        </p>
      </ion-note>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar class="menu-fixed-bottom">
    <div class="content-menu-border">
      <div class="go-init">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label><a routerLink="/role-registration">Inicio</a></ion-label>
      </div>
      <div class="go-fila">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label><a href="/queue">Fila</a></ion-label>
      </div>
      <div class="go-config">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label><a href="#">Config</a></ion-label>
      </div>
      <div class="go-config">
        <ion-icon name="exit-outline"></ion-icon>
        <ion-label><a href="#">Sair</a></ion-label>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
